<section>
    
<div class="search-container" style="margin-top: 10px; padding: 10px;">
    <input type="text" id="search-bar" placeholder="Find an order" (input)="tt.filterGlobal($event.target.value, 'contains')">
    <a href="#" class="search-icon">
        <i class="fa fa-search"></i>
    </a>
</div> 

<div class="wrapper" style="margin-top: 20px;">
<div class="box">
    <div>
    <div class="text-center" style="border: 2px solid rgb(215, 227, 248);margin: 20px;width:220px;">
        <h3 style="background-color: rgb(215, 227, 248);padding: 10px;">For only pro</h3>
        <div style="padding: 10px;">
            Specializations
            <select class="form-control" (change)="tt.filterGlobal($event.target.value, 'contains')" [(ngModel)]="selDmn" >
                <option *ngFor="let t of hehe" value="{{ t.domaine.dmn }}" style="width: 450px;">{{ t.domaine.dmn }}</option>
            </select>       
            <hr class="hr-light">
            Price
            <select class="form-control" (change)="tt.filterGlobal($event.target.value, 'contains')" [(ngModel)]="hehe.price">
                <option *ngFor="let t of hehe" value="{{ t.price }}" style="width: 450px;" >{{ t.price }}</option>
            </select> 
        </div>
    </div>
    </div>

    <div>
        <div style=" margin: 20px;width:720px;padding: 20px;border-radius:50px;">
            <div style="display:flex">        
               <p class="text-success flex-item bd">All Tasks And Jobs</p>  
               <p style="padding-left: 10px; font-size: 20px;" class="flex-item">
                    <a style="color: darkgrey;" [routerLink]="['/addOrders']">add Orders</a>
               </p>  
            </div>
        <hr class="hr-light">
        <h4 class="flex-item" style="margin-left: 25px;">Found {{hehe.length}} orders</h4>  
        <p-table #tt [columns]="cols" [value]="hehe" [globalFilterFields]="['title','domaine.dmn','price']" [paginator]="true" [rows]="2"  [totalRecords]="120" [rowsPerPageOptions]="[5,10,25,50,100]">
            <ng-template pTemplate="body" let-t let-expanded="expanded" let-columns="columns"  style="border: 1px solid rgb(215, 227, 248);margin: 20px;padding: 20px;border-radius: 20px;">
                <tr>
                  <td style="margin: 20px;padding: 20px;">
                    <h5 class="text-primary"> {{t.title}} </h5>
                    <p style="margin-top: 20px;">
                         <span class="bg-success text-white" style="border-radius: 4px; padding: 5px; color: black;" >{{t.price}} DT </span>
                    </p>
                    <p>{{ t.des }}</p>
                    <strong style="font-size: 15px;padding: 10px;border-right: 2px solid rgb(215, 227, 248);color:gray;">
                        <i style="font-size: 20px;" class="fas fa-briefcase"></i>One-time order  
                    </strong>
                    <strong style="font-size: 15px;padding: 10px;border-right: 2px solid rgb(215, 227, 248);color:gray;">
                        <i style="font-size: 20px;" class="far fa-clock"></i>Yesterday  
                    </strong>
                    <strong style="font-size: 15px;padding: 10px;color:gray;"><i style="font-size: 20px;" class=" fas fa-calendar-alt"></i> {{t.date}} </strong>
                    <button class="btn btn-default text-primary" style="float: right;border: 1px solid gray;" (click)="onClick(t)">Open</button>
                  </td>
                </tr>
            </ng-template> 
        </p-table> 
        </div>
    </div>
    
</div>
</div>
</section>