<div class="bg">
<h1>Add Order</h1>
<hr>
<div class="container">
<form #f="ngForm" (ngSubmit)="showSuccess(f)">
<div class="form-row">
<div class="col-md-4 mb-3">
<label for="title">Title</label>
<input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" placeholder="What need to do ? "
  required #titre="ngModel">
  <div *ngIf="titre.invalid && titre.touched" class="alert alert-danger">Required field</div>

</div>
<div class="col-md-4 mb-3">
<label for="des">Description</label>
<textarea type="text" class="form-control" id="des" name="des" [(ngModel)]="des" placeholder="describe the task in detail"
 required #descrip="ngModel"></textarea>
 <div *ngIf="descrip.invalid && descrip.touched" class="alert alert-danger">Required field</div>

</div>
<div class="col-md-4 mb-3">
<label for="validationServerUsername33">Application Acceptance</label>
<div class="input-group">
 
    <select class="btn btn-dark dropdown-toggle, selectt" name="date" [(ngModel)]="date">
        <option value="" disabled selected>Choose your option</option>
        <option value="3 days">3 days</option>
        <option value="1 week">1 week</option>
        <option value="2 weeks">2 weeks</option>
        <option value="1 month">1 month</option>
        <option value="termlessly">termlessly</option>
      </select>
  
 
</div>
</div>
</div>
<div class="form-row">
<div class="col-md-6 mb-3">
<label for="validationServer033">Specialization</label>
<select class="btn btn-dark dropdown-toggle, selectt" name="domaine" [(ngModel)]="domaine">
  <option *ngFor="let c of domaines" [ngValue]="c">{{c.dmn}}</option>
</select>


</div>


</div>
<div>

</div>



<div class="form-row">
  <div class="col-md-4 mb-3">
  <label for="mail">Price</label>
  <input type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="price"
    required #prc="ngModel">
    <div *ngIf="prc.invalid && prc.dirty" class="alert alert-danger">Price invalid</div>
</div>
</div>
<div>
<div class="form-row">
  <div class="col-md-4 mb-3">
  <label for="mail">Email</label>
  <input type="text" class="form-control" id="mail" placeholder="Email" name="mail" [(ngModel)]="mail"
    required #email="ngModel">
    <div *ngIf="email.invalid && email.dirty" class="alert alert-danger">Email invalid</div>
</div>
</div>

<div class="form-row">
  <div class="col-md-4 mb-3">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Your name" name="name" [(ngModel)]="name"
    required #nom="ngModel">
    <div *ngIf="nom.invalid && nom.touched" class="alert alert-danger">Required field</div>
</div>
</div>
</div>
<div class="form-group">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input is-invalid" id="invalidCheck33" required>
<label class="custom-control-label" for="invalidCheck33">Agree to terms and conditions</label>
<div class="invalid-feedback">
  You must agree before submitting.
</div>
</div>
<div class="invalid-feedback">
You must agree before submitting.
</div>
</div>
<button type="submit"  class="boutton" data-toggle="modal" data-target="#myModal">Add Order</button>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Order Submitted</h4>
      </div>
      <div class="modal-body">
        <p>You have successfully submitted.</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal" routerLinkActive="actif" [routerLink]="['/jobOrders']">Close</a>
      </div>
    </div>
  </div>
</div>
<input id="time" name="time" type="hidden"/>
</form></div>
<!-- [disabled]="f.invalid"-->




</div>




