<div class="bg">
<h1>Add Order</h1>
<hr>
<div class="container">
<form #f="ngForm" (ngubmit)="showSuccess(f)">
<div class="form-row">
<div class="col-md-4 mb-3">
<label for="title">Title</label>
<input type="text" class="form-control" id="title, title" name="title" [(ngModel)]="title" placeholder="What need to do ? "
  required #titre="ngModel">

</div>
<div class="col-md-4 mb-3">
<label for="des">Description</label>
<textarea type="text" class="form-control" id="des" name="des" [(ngModel)]="des" placeholder="describe the task in detail"
 required #descrip="ngModel"></textarea>

</div>
<div class="col-md-4 mb-3">
<label for="validationServerUsername33">Application Acceptance</label>
<div class="input-group">
 
    <select class="btn btn-dark dropdown-toggle, selectt" name="date" [(ngModel)]="date">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">3 days</option>
        <option value="2">1 week</option>
        <option value="3">2 weeks</option>
        <option value="3">1 month</option>
        <option value="3">termlessly</option>
      </select>
  
 
</div>
</div>
</div>
<div class="form-row">
<div class="col-md-6 mb-3">
<label for="validationServer033">Specialization</label>
<select class="btn btn-dark dropdown-toggle, selectt" name="domaine" [(ngModel)]="domaine">
  <!--<option value="1">Web Development</option>
  <option value="2">Design</option>
  <option value="3">Programming</option>
  <option value="4">Optimization (SEO)</option>
  <option value="5">Polygraphy</option>
  <option value="3">3D Graphics</option>
  <option value="4">Ads / Marketing</option>
  <option value="5">Architecture</option>-->
  <option *ngFor="let c of domaines" [ngValue]="c" [selected]="c.value">{{c.dmn}}</option>
</select>


</div>


</div>
<div>

</div>
<div class="form-group mrgt15">
  <label class="col-sm-3 control-label o-control-label" id="payment">Payment method :</label>
  <div class="col-sm-9">
      <div class="radio">
          <label>
              <input type="radio" name="fairplay" value="1" class="int">
              Secure deal (with budget reservation) <a href="/" target="_blank"><i class="fa fa-question-circle"></i> </a>
          </label>
          <div class="help-block mrgt0 mrgb0, int" id="textt">Secure deal with money-back guarantee. You reserve the order budget and we guarantee to refund if the work is done poorly or not in time.</div>
      </div>
      <div class="radio">
          <label>
              <input type="radio" name="fairplay" value="0" class="int">
              Direct payment to the performer wallet/account                                        </label>
          <div class="help-block mrgt0 mrgb0, int" id="textt">Cooperation without site participation in the payment process. You arrange payment method with the freelancer by yourself and independently regulate all claims related to the work quality and timing.</div>
      </div>
  </div>
</div>

<div class="form-row">
  <div class="col-md-4 mb-3">
  <label for="validationServer013">Account Type</label><br>
  <button class="btn btn-outline-dark">Private person</button>
  <button class="btn btn-outline-dark">Company</button>
  </div>
</div>

<div>
<div class="form-row">
  <div class="col-md-4 mb-3">
  <label for="mail">Email</label>
  <input type="text" class="form-control" id="mail" placeholder="Email" name="mail" [(ngModel)]="mail"
    required #email="ngModel">
    <div *ngIf="email.invalid && email.dirty" class="alert alert-danger">Email invalid</div>
</div>
</div>

<div class="form-row">
  <div class="col-md-4 mb-3">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Your name" name="name" [(ngModel)]="name"
    required #nom="ngModel">
    <div *ngIf="nom.invalid && nom.touched" class="alert alert-danger">Required field</div>
</div>
</div>
</div>
<div class="form-group">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input is-invalid" id="invalidCheck33" required>
<label class="custom-control-label" for="invalidCheck33">Agree to terms and conditions</label>
<div class="invalid-feedback">
  You must agree before submitting.
</div>
</div>
<div class="invalid-feedback">
You must agree before submitting.
</div>
</div>
<button type="submit" [disabled]="f.invalid" class="boutton">Add Order</button>
</form></div>





</div>




